.game-container
{
    width:500px;
    height: 730px;
    position: absolute;
}

.sky
{
    background-color: #008dff;
    width: 500px;
    height: 580px;
    position:absolute;
}

.ground
{
    background-color: #157f00;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}